<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">

    <style>
      html{background-color: {{color|safe}}}
      body {font-size:{{tamaño | safe}}}
    </style>

  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="img-box">
          <img src="foto.png" alt="">
        </div>
        <div class="log-box">
          {{registro | safe}}
        </div>
      </div>
      <div class="">
        <h1>Museos de la Comunidad de Madrid</h1>
      </div>
      <div class="nav">
        <ul>
          <li><a href="/">Principal</a></li>
          <li><a href="/museos">Museos</a></li>
          <li><a href="/about">About</a></li>

        </ul>
      </div>
      <div class="content">

        <div class="flex-container">
          <div class="museos">
            {{formulario | safe}}
            {{formulario_filtro | safe}}
            {{lista_museos | safe}}
            {{contenido | safe}}
            {{desplegable | safe}}
            {{formulario_add | safe}}
            {{formulario_comentario | safe}}
            {{comentarios | safe}}
            {{color | safe}}
            {{tamaño | safe}}

          </div>
          <div class="users">
            {{usuarios | safe}}
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Pinche aquí</a></p>
      </div>
    </div>
  </body>
</html>
