<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="author" content="NATALIA ALONSO" />
	<meta http-equiv="content-type" content="utf-8" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<title>Museos</title>
</head>
<body>

	<div class="content"><img src="images.jpeg" alt="" />
		<div class="header_right">
			<div class="top_info">
				<div class="top_info_right">
				</div>
			</div>
			<div class="bar">
			</div>
		</div>
		<div class="logo">
			<h1><a href="" >Museos <span class="red">Comunidad de Madrid</span></a></h1>
		</div>
		<div class="search_field">
			<form method="post" action="?">
			</form>
		</div>
		<div class="newsletter">
		</div>
		<div class="subheader">		{{registro | safe}}
		</div>
		<div class="left">
			<div class="left_articles"> {{contenido}}
			</div>
			<div class="lt"></div>
			<div class="lbox">
				<div class="thumb">
				</div>
			</div>
			<div class="lt"></div>
			<div class="lbox">
			<div class="thumb">
			</div>
			</div>
		</div>
		<div class="right">
			<div class="rt"></div>
			<div class="right_articles">
			</div>
			<div class="rt"></div>
			<div class="right_articles">
			</div>
			<div class="rt"></div>
			<div class="right_articles">
			</div>
		</div>
		<div class="footer">
			<p>&copy; Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid - <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default" > datos.madrid</a></p>
		</div>
	</div>
</body>
</html>
