*{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
.wrapper{
  width: 750px;
  margin:0px auto;
  height: 300px;

}
.header{
  border-bottom: 1px solid black;
  height: 115px;
}
.img-box{
  float: left;
}
.log-box{
  float: right;
}
.img-box img{
  max-width: 150px;
}
.flex-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row;
  background-color: #f1f1f1;
}
.box{
  background-color: #266729;
  color: white;
  width: 100%;

  margin-top: 20px;
}

.box_02{
  background-color: #7FCE82;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.box_muse{
  padding: 20px;
}
.museos{
  flex-grow: 8;
}
.box_main{
  width: 100%;
  flex-grow: 8;
}

.users{
  flex-grow: 5;
}

h1{
  margin: 2px;
}
textarea{
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4CAF50;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover , .log-out:hover{
  background-color: #026906;;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.log-out{
  float: right;
}

.users #box_users{
  margin: 40px;
}
